<!--
  ~ ********************************************************************************
  ~ Copyright (c) 2021 Contributors to the Eclipse Foundation
  ~
  ~ See the NOTICE file(s) with this work for additional
  ~ information regarding copyright ownership.
  ~
  ~ This program and the accompanying materials are made
  ~ available under the terms of the Apache Software License 2.0
  ~ which is available at https://www.apache.org/licenses/LICENSE-2.0.
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  ~ ********************************************************************************
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BuildAndPackagingTests" parallel="none" verbose="2">

    <test name="CommonFeatureTests">
        <classes>
            <class name="net.adoptium.test.VendorPropertiesTest"/>
            <class name="net.adoptium.test.BundledFreetypeTest"/>
            <class name="net.adoptium.test.VerifyCACertsTest"/>
        </classes>
    </test>

    <test name="HotspotFeatureTests">
        <classes>
            <class name="net.adoptium.test.FeatureTests"/>
        </classes>
    </test>

    <test name="OpenJ9FeatureTests">
        <classes>
            <class name="net.adoptium.test.CudaEnabledTest"/>
        </classes>
    </test>
</suite>