name: Compile

on:
  pull_request:
    branches: [ master ]

jobs:
  compile_groovy:
    name: Groovy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v1
      with:
        java-version: '11'
        
    - name: run tests
      run: |
        cd pipelines
        ./gradlew --info test
